Repository BirthdayResearch/oracle-adapters, pull requests merged in 2021-11, with the labels that each got.

#71 migrate finnhubb-forex
  adapters/__tests__/finnhubb-forex.test.ts
  adapters/src/finnhubb-forex.ts
Labels: kind/refactor, area/adapters

#70 migrate dex
  adapters/__tests__/dex.test.ts
  adapters/src/dex.ts
Labels: kind/refactor, area/adapters

#69 migrate coinmarketcap
  adapters/__tests__/coinmarketcap.test.ts
  adapters/src/coinmarketcap.ts
Labels: kind/refactor, area/adapters

#96 fix test to just check type due to flaky time
  adapters/__tests__/nasdaq.test.ts
Labels: kind/fix, area/adapters

#100 Bump @defichain/* to latest
  package-lock.json
  package.json
  packages/salmon-core/package.json
  packages/salmon-fetch/package.json
  packages/salmon-filter/package.json
  packages/salmon-testing/package.json
  packages/salmon-wallet/package.json
  packages/salmon/package.json
Labels: kind/dependencies, area/salmon-filter, area/salmon-wallet, area/salmon-fetch, area/salmon, area/salmon-testing

#104 simplified defichain dependency management for downstream projects
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/release-publish.yml
  .nvmrc
Labels: area/workflow, kind/chore

#87 Add `polygon` oracle adapter
  adapters/__tests__/polygon.test.ts
  adapters/src/polygon.ts
Labels: kind/feature, area/adapters

#115 moved all tests to `__tests__` directory for consistency
  jest.config.js
  packages/salmon-fetch/__tests__/AssetPrice.spec.ts
  packages/salmon-fetch/__tests__/FetchAsJson.spec.ts
  packages/salmon-wallet/__tests__/send.test.ts
  packages/salmon/__tests__/publish.test.ts
Labels: kind/refactor, area/salmon-wallet, area/salmon-fetch, area/salmon

#116 bump all deps in package.json with defichain deps
  adapters/package.json
  package-lock.json
  package.json
  packages/salmon-core/package.json
  packages/salmon-fetch/package.json
  packages/salmon-filter/package.json
  packages/salmon-testing/package.json
  packages/salmon-wallet/package.json
  packages/salmon/package.json
Labels: kind/dependencies, area/adapters, area/salmon-filter, area/salmon-wallet, area/salmon-fetch, area/salmon, area/salmon-testing

#119 `salmon-wallet-mnemonic`
  packages/salmon-wallet/__tests__/SalmonWalletMnemonic.spec.ts
  packages/salmon-wallet/package.json
  packages/salmon-wallet/src/SalmonWallet.ts
  packages/salmon-wallet/src/SalmonWalletMnemonic.ts
  packages/salmon-wallet/src/index.ts
Labels: kind/feature, area/salmon-wallet

#124 fix defichain-dependencies.yml not updating all package.json
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/fix
