Repository BirthdayResearch/oracle-adapters, pull requests merged in 2021-12, with the labels that each got.

#129 Make `salmon-wallet` whale account public
  packages/salmon-wallet/src/SalmonWallet.ts
Labels: kind/feature, area/salmon-wallet

#133 Print out token that doesn't conform
  packages/salmon-fetch/src/AssetPrice.ts
Labels: kind/chore, area/salmon-fetch

#134 Fix filter tests
  adapters/__tests__/finnhubb-forex.test.ts
  packages/salmon-fetch/__tests__/AssetPrice.spec.ts
Labels: kind/chore, area/adapters, area/salmon-fetch

#135 remove oss-governance-project-*.yml
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: area/workflow, kind/chore

#149 find and replace peerDependencies to use ^ instead of fixed versions
  .github/workflows/release-publish.yml
Labels: area/workflow, kind/chore

#150 add more explicit DexOptions for DexAdapter
  adapters/__tests__/dex.test.ts
  adapters/src/dex.ts
Labels: kind/feature, area/adapters
