Repository BirthdayResearch/oracle-adapters, pull requests merged in 2022-04, with the labels that each got.

#220 Updated iexcloud to use ` /last` endpoint
  adapters/__tests__/iexcloud.test.ts
  adapters/src/iexcloud.ts
Labels: kind/fix, area/adapters

#221 refactor(wallet): Remove SalmonWalletMnemonic
  packages/salmon-wallet/__tests__/SalmonWalletMnemonic.spec.ts
  packages/salmon-wallet/src/SalmonWalletMnemonic.ts
  packages/salmon-wallet/src/index.ts
Labels: kind/chore, area/salmon-wallet

#223 refactor(adapters): Remove Polygon adapter
  adapters/__tests__/polygon.test.ts
  adapters/src/polygon.ts
Labels: kind/refactor, area/adapters

#234 chore(workflows): cleanup workflow permissions and names
  .github/workflows/defichain-dependencies.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-drafter.yml
Labels: area/workflow, kind/chore

#235 chore(governance): update other governance matters
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/governance.yml
  .github/labeler.yml
Labels: area/workflow, kind/chore

#236 chore(workflows): update defichain-dependencies to use semantic title
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#240 chore(cleanup): cleanup jellyfishsdk/whale post migration
  .github/labeler.yml
  CONTRIBUTING.md
  README.md
  adapters/package.json
  package-lock.json
  package.json
  packages/salmon-core/package.json
  packages/salmon-fetch/package.json
  packages/salmon-filter/package.json
  packages/salmon-testing/package.json
  packages/salmon-testing/src/WhaleMasternodeRegTestContainer.ts
  packages/salmon-wallet/package.json
  packages/salmon-wallet/src/SalmonWallet.ts
  packages/salmon/package.json
Labels: area/workflow, kind/chore, area/adapters, area/salmon-filter, area/salmon-wallet, area/salmon-fetch, area/salmon, area/salmon-testing
