Repository BirthdayResearch/oracle-adapters, pull requests merged in 2022-06, with the labels that each got.

#262 chore(CODEOWNERS): Added tzeweiwee into codeowners
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#263 bump(deps): @defichain/* dependencies
  package-lock.json
  package.json
  packages/salmon-fetch/package.json
  packages/salmon-filter/package.json
  packages/salmon-testing/package.json
  packages/salmon-testing/src/WhaleMasternodeRegTestContainer.ts
  packages/salmon-wallet/package.json
  packages/salmon/package.json
Labels: kind/dependencies, area/salmon-filter, area/salmon-wallet, area/salmon-fetch, area/salmon, area/salmon-testing

#264 chore(iexcloud): update iexcloud adapter to use quote endpoint
  adapters/__tests__/iexcloud.test.ts
  adapters/src/iexcloud.ts
Labels: kind/chore, area/adapters

#270 feat(iexcloud): Added temporary FB to META mapping
  adapters/__tests__/iexcloud.test.ts
  adapters/src/iexcloud.ts
Labels: kind/feature, area/adapters

#277 chore(CODEOWNERS): Add sereneATL into CODEOWNERS
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#283 fix(network): Updated network names
  adapters/src/dex.ts
  adapters/src/utils/dex.ts
Labels: kind/fix, area/adapters
